@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    background-color: #454B6F;
    width: 100%;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(1vh+1vw+1%);

}
#taskbar{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    position: sticky;
    background-color: #454B6F;
    z-index: 1;
}

#buttons{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    left: 0;
}
#buttons img{
    height: 4vw;
    width: 4vw;
}
#finder{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    text-align: center;
    align-items: center;
    
    border-radius: 50%;
    left: 50%;
    top: 0%;
    width: 50vw;
    height: inherit;
    background-image: linear-gradient(-52deg, #474E7D 0%, #3B4269 100%);
    box-shadow: -4px -4px 17px 0 #5F69A8, 4px 4px 12px 0 #252942;
    border-radius: 50px;    
    border: 0;
    border: inherit;
    color: white;
    margin-right: 1vw;
}
#input_box{
    width: 50vw;
    height: inherit;
    /* background-image: linear-gradient(-52deg, #474E7D 0%, #3B4269 100%);
    box-shadow: -4px -4px 17px 0 #5F69A8, 4px 4px 12px 0 #252942;
    border: 0; */
    border: inherit;
    color: white;
    margin-left: 1vw;
    font-size: 27px;
    text-indent: 3%;
    background:transparent;
    border: none;
    outline: none;
}

.image_btn{
   width: inherit;
   height: inherit;
   margin:0 0 0 0;
   border: 0;
}

#avatar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    position: relative;
    height: inherit;
    width: fit-content;
    
}
#button{
    width: 2vw;
    height: 2vw;
    padding: 0;
    border: none;
    margin-right: 2vw;
    display: block;
     cursor: pointer;
     text-align: center;
     align-items: center;
     align-content: center;
}

#ava_img{
    width: 4vw;
    height: 4vw;
    padding: 0;
    border: none;
    margin-right: 2vw;
    display: block;
     cursor: pointer;
     text-align: center;
     align-items: center;
     align-content: center;
     top: 50%;
     left: 50%;
}
#welcome_statement{
    color: #6370C0;
    font-size: 22px;

}
#sidebar{
    position: sticky;
    position: -webkit-sticky;
    top: 50%;
    margin: 0;
    float: right;
    width: fit-content;
    height: fit-content;  
    background: #383E63;
    box-shadow: -2px -2px 6px 0 #4C5487, 2px 2px 6px 0 #383E63;
    border-radius: 53px 0 0 53px; 
    text-align: center;   
    
}
#infected{
    font-family: Helvetica;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 2vh;
}
#death{
    font-family: Helvetica;
font-size: 20px;
color: #FFFFFF;
text-align: center;
margin-bottom: 3vh;
}
#cured{
    font-family: Helvetica;
font-size: 20px;
color: #FFFFFF;
text-align: center;
margin-bottom: 3vh;
}
#hyperlinks{
    background: #D8D8D8;
border: 1px solid #979797;
border-radius: 22px 22px 0 57px;

}
#hypers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#WHO, #Health_ministry{
    width: 6vw;
    height: auto;
    padding-right: 2vw;
}
#CDC{
    width: 6vw;
    height: auto;
    margin-right: auto;
}
#category-options{
    display: none;
    background: #383E63;
box-shadow: 2px 2px 4px 0 #383E63, -2px -2px 4px 0 #4C5487;
border-radius: 0 80px 80px 0;
float: left;
width: 0;
transition: 2s;
z-index: 0;
}
h1{
    color: #FFD4C4;
    font-size: 23px;
}